* {padding:0;margin:0}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0em;
    overflow-x: hidden; 
    zoom:80%
}


#headbar
	{
	 position:relative;
	 z-index:400;
	 width:97%;
	 height:15em;
	 border-style:ridge;
	 border-color:grey;
	 border-width:20px 20px 0px 20px;

    transition: height 1s;
	-webkit-transition: height 1s;  /* Safari */

}


#menuDescription > #descrip > #imageHolder
			{
                position:relative;
                width:auto;
                height:auto;
                float:right;
				border:1.5em silver ridge;
				opacity:0.90;
				background-color:white;
                padding:1em;
                margin:1em;
				transition: top 2s;
				-webkit-transition: top 2s;  /* Safari */
			  
			    -moz-box-shadow: 0em 0em 6em #fff;
				-webkit-box-shadow: 0em 0em 6em #fff;
				 box-shadow: 0px 0px 6em #fff;	
			}
			
#arrowImg {
            position:absolute;
            z-index:800;
            height:100%;
            width:100%;
            display:none;
            left:-2em;    
            z-index:800;
}


#arrrowImg img{
            position:relative;
            z-index:800;
}

 .arrowMove
	{
		-webkit-animation: moveArrow 2s ease-in-out infinite;
		-moz-animation: moveArrow 2s ease-in-out infinite;
		-o-animation: moveArrow 2s ease-in-out infinite;
	}


 .bGrade {

          background: #FFFFFF; /* old browsers */
          background: -moz-linear-gradient(top, #E6E6E6 0%, #FFFFFF 100%); /* firefox */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E6E6E6), color-stop(100%,#FFFFFF)); /* webkit */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='#FFFFFF',GradientType=0 ); /* ie */

}

 .bGrade2 {

          background: #FFFFFF; /* old browsers */
          background: -moz-linear-gradient(top,#FFFFFF 0%,#E6E6E6 100%); /* firefox */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6)); /* webkit */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E6E6E6',GradientType=0 ); /* ie */

}

	
#lvImgDiv {
				position:relative;
				float:right;
				width:auto;
				height:auto;
				padding:0.5em;
				border:1em red solid;
				opacity:1.0;
				
			
				}




#hmenuContainer{
					position:relative;
					margin-top:1em;
					height:3em;
					width:100%;
					font-size:1.2em;
					z-index:400;
					
					

			 }
			 
#menuDescription {
					position:relative;
					display:none;
					float:left;
					width:96%;
					height:auto;
					opacity:1.0;
					margin:2em 0em 0em 1%;
					background-color:white;
					border:5px ridge white;
					color:black;
					text-align:left;
					z-index:500;
					font-size:0.9em;
					transition: margin-top 2s;
				    -webkit-transition: margin-top 2s;  /* Safari */
				    -webkit-transform: height 2s;
					-moz-transform: height 2s;
					transform: height 2s;
}					
					
	
 


.bDiv {display:inline; cursor:pointer;margin-right:1.0em}
button{display:none;position:relative;padding:0;float:left}


#twUl1 #twUl2, #twUl1 #twUl3, #twUl1 #twUl4
	{
		position:relative;
		float:left;
		left:2em;
	}

.aUl2 {z-index:200;}

.twImage
	{
	top:-0.25em;
	margin-left:0em;
	opacity:0.85;
	width:200px;
	}


.twImage2
	{
	top:-0.25em;
	margin-left:0em;
	opacity:0.85;
	width:200px;
	
	}
	
.rsImage
	{
	top:-0.25em;
	margin-left:0em;
	opacity:0.85;
	width:200px;
	
	}	
	

.doSpin
     {
	
    -webkit-animation: spinImage 0.5s ease-in-out 1;
	-moz-animation: spinImage 0.5s ease-in-out 1;
	-o-animation: spinImage 0.5s ease-in-out 1;
     }
		
.noRotate
     {
    -webkit-animation: stopSpin 0.5s linear infinite;
	-moz-animation: stopSpin 0.5s linear infinite;
	-o-animation: stopSpin 0.5s linear infinite;
   }		
   
   
  .doSlide
	{
		-webkit-animation: slideImage 1s ease-in-out 1;
		-moz-animation: slideImage 1s ease-in-out 1;
		-o-animation: slideImage 1s ease-in-out 1;
	}

   .endSlide
		{
		
		}
	
	
	.doBorder
     {
	
    -webkit-animation: spinBorder 0.5s ease-in-out infinite;
	-moz-animation: spinBorder 0.5s ease-in-out infinite;
	-o-animation: spinBorder 0.5s ease-in-out infinite;
   }	 

	
	
	@-o-keyframes spinImage
  {
	0%  {
		 opacity:1.0;
	     -webkit-transform: scale(0.25, 0.25); /* Safari */
	     transform: scale(0.25, 0.25);
	     -ms-transform: scale(0.25, 0.25); /* IE 9 */
         
		 -moz-box-shadow: 0em 0em 10em #fff;
		 -webkit-box-shadow: 0em 0em 10em #fff;
		  box-shadow: 0px 0px 10em #fff;}
				
	50% {
		 opacity:0.0;
		 -webkit-transform: scale(0.5, 0.5); /* Safari */
	     transform: scale(0.5, 0.5);
	     -ms-transform: scale(0.5, 0.5); /* IE 9 */
		
		}
	90%	{
			opacity:0.0;
			-webkit-transform: scale(0.9, 0.9); /* Safari */
	     	transform: scale(0.9, 0.9);
	     	-ms-transform: scale(0.9, 0.9); /* IE 9 */	
		}			
	100% {
		 opacity:1.0;
		 -webkit-transform: scale(1,1); /* Safari */
		 transform: scale(1,1);
	     -ms-transform: scale(1,1); /* IE 9 */
		 
	     
	     border:1em silver ridge;
		 -moz-box-shadow: 0em 0em 6em #fff;
		 -webkit-box-shadow: 0em 0em 6em #fff;
		 box-shadow: 0px 0px 6em #fff;
		 }
  }	
	
	
	@-webkit-keyframes spinImage
    {
	0%  {
		 opacity:1.0;
         -webkit-transform: scale(0.25, 0.25); /* Safari */
	     transform: scale(0.25, 0.25);
	     -ms-transform: scale(0.25, 0.25); /* IE 9 */
         
		 -moz-box-shadow: 0em 0em 10em #fff;
		 -webkit-box-shadow: 0em 0em 10em #fff;
		  box-shadow: 0px 0px 10em #fff;
		}
				
	50%  {
			opacity:0.0;
			-webkit-transform: scale(0.5, 0.5); /* Safari */
	        transform: scale(0.5, 0.5);
	        -ms-transform: scale(0.5, 0.5); /* IE 9 */
		
		}
	90%	{
		 opacity:0.0;
	     -webkit-transform: scale(0.9, 0.9); /* Safari */
	     transform: scale(0.9, 0.9);
	     -ms-transform: scale(0.9, 0.9); /* IE 9 */
		}		
	100% {
	 	 opacity:1.0;
	     -webkit-transform: scale(1,1); /* Safari */
		 transform: scale(1,1);
	     -ms-transform: scale(1,1); /* IE 9 */	
	     
	     border:1em silver ridge;
		 -moz-box-shadow: 0em 0em 6em #fff;
		 -webkit-box-shadow: 0em 0em 6em #fff;
		 box-shadow: 0px 0px 6em #fff;
		 }
    }	
		
			
@-moz-keyframes spinImage
   {
	0%  {opacity:1.0;
	     
	     -webkit-transform: scale(0.25, 0.25); /* Safari */
	     transform: scale(0.25, 0.25);
	     -ms-transform: scale(0.25, 0.25); /* IE 9 */
		 -moz-box-shadow: 0em 0em 10em #fff;
		 -webkit-box-shadow: 0em 0em 10em #fff;
		  box-shadow: 0px 0px 10em #fff;}
				
	50%  {
			opacity:0.0;
			-webkit-transform: scale(0.5, 0.5); /* Safari */
	     	transform: scale(0.5, 0.5);
	     	-ms-transform: scale(0.5, 0.5); /* IE 9 */
		
		}
	90%	{
			opacity:0.0;
			-webkit-transform: scale(0.9, 0.9); /* Safari */
	     	transform: scale(0.9, 0.9);
	     	-ms-transform: scale(0.9, 0.9); /* IE 9 */
	}			
	100% {
		  opacity:1.0;
		  -webkit-transform: scale(1,1); /* Safari */
		  transform: scale(1,1);
	      -ms-transform: scale(1,1); /* IE 9 */	
	      border:1em silver ridge;
		 -moz-box-shadow: 0em 0em 6em #fff;
		 -webkit-box-shadow: 0em 0em 6em #fff;
		 box-shadow: 0px 0px 6em #fff;
		 }
   }	
			
@-o-keyframes slideImage
  {
	0%  {opacity:0.1;zoom:5%;margin-left:0em; border:none;}
				
	50%  {opacity:0.5;zoom:50%;}
		  
	100% {opacity:1.0;zoom:85%;margin-left:20em; border:1em blue solid;}
  }	

@-webkit-keyframes slideImage
    {
	
	0%  {opacity:0.1;zoom:5%;margin-left:0em; border:none;}
				
	50%  {opacity:0.5;zoom:50%;}
		  
	100% {opacity:1.0;zoom:85%;margin-left:20em; border:1em blue solid;}
    }	
			
@-moz-keyframes slideImage
   {
	
	0%  {opacity:0.1;zoom:5%;margin-left:0em; border:none;}
				
	50%  {opacity:0.5;zoom:50%;}
		  
	100% {opacity:1.0;zoom:85%;margin-left:20em; border:1em blue solid}
		 
   }	
			

@-o-keyframes moveArrow
  {
	0%  {opacity:1.0;top:8em}
				
	50%  {opacity:0.5;}
		  
	100% {opacity:0.0;top:-1em}
  }	

@-webkit-keyframes moveArrow
    {
	
	0%  {opacity:1.0;top:8em}
				
	50%  {opacity:0.5;}
		  
	100% {opacity:0.0;top:-1em}
    }	
			
@-moz-keyframes moveArrow
   {
	
	0%  {opacity:1.0;top:8em}
				
	50%  {opacity:0.5;}
		  
	100% {opacity:0.0;top:-1em}
   }	
		
@-o-keyframes spinBorder
  {
	0%  {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: red;
		 border-right-color:green;
		 border-bottom-color:black;
		 border-left-color: blue;}
				
	25%  {border-top-style: solid;
         border-right-style: dotted;
         border-bottom-style: solid;
         border-left-style: dotted;
		 border-top-color: blue;
		 border-right-color:red;
		 border-bottom-color:green;
		 border-left-color: black;}
		 
	50% {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: black;
		 border-right-color:blue;
		 border-bottom-color:red;
		 border-left-color: green;}	 
		  
	 75% {border-top-style: solid;
         border-right-style: dotted;
         border-bottom-style: solid;
         border-left-style: dotted;
		 border-top-color: green;
		 border-right-color:black;
		 border-bottom-color:blue;
		 border-left-color: red;}
		 
	 100% {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: red;
		 border-right-color:green;
		 border-bottom-color:black;
		 border-left-color: blue;}
  }	

@-webkit-keyframes spinBorder
    {
	
	0%  {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: red;
		 border-right-color:green;
		 border-bottom-color:black;
		 border-left-color: blue;}
				
	25%  {border-top-style: solid;
         border-right-style: dotted;
         border-bottom-style: solid;
         border-left-style: dotted;
		 border-top-color: blue;
		 border-right-color:red;
		 border-bottom-color:green;
		 border-left-color: black;}
		 
	50% {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: black;
		 border-right-color:blue;
		 border-bottom-color:red;
		 border-left-color: green;}	 
		  
	 75% {border-top-style: solid;
         border-right-style: dotted;
         border-bottom-style: solid;
         border-left-style: dotted;
		 border-top-color: green;
		 border-right-color:black;
		 border-bottom-color:blue;
		 border-left-color: red;}
		 
	 100% {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: red;
		 border-right-color:green;
		 border-bottom-color:black;
		 border-left-color: blue;}
    }	
			
@-moz-keyframes spinBorder
   {
	
	0%  {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: red;
		 border-right-color:green;
		 border-bottom-color:black;
		 border-left-color: blue;}
				
	25%  {border-top-style: solid;
         border-right-style: dotted;
         border-bottom-style: solid;
         border-left-style: dotted;
		 border-top-color: blue;
		 border-right-color:red;
		 border-bottom-color:green;
		 border-left-color: black;}
		 
	50% {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: black;
		 border-right-color:blue;
		 border-bottom-color:red;
		 border-left-color: green;}	 
		  
	 75% {border-top-style: solid;
         border-right-style: dotted;
         border-bottom-style: solid;
         border-left-style: dotted;
		 border-top-color: green;
		 border-right-color:black;
		 border-bottom-color:blue;
		 border-left-color: red;}
		 
	 100% {border-top-style: dotted;
		 border-right-style: solid;
		 border-bottom-style: dotted;
		 border-left-style: solid;
		 border-top-color: red;
		 border-right-color:green;
		 border-bottom-color:black;
		 border-left-color: blue;}
   }	
						

			
@-webkit-keyframes stopSpin
    {
	0%  {opacity:1.0;zoom:100%;-webkit-transform: rotate(0deg)}
	100% {opacity:1.0;zoom:100%;-webkit-transform: rotate(0deg)}
    }	
			
@-moz-keyframes stopSpin
   {
	0%  {opacity:1.0;zoom:100%;-moz-transform: rotate(0deg)}
	100% {opacity:1.0;zoom:100%;-moz-transform: rotate(0deg)}
   }	
			
@-o-keyframes stopSpin
  {
	0%  {opacity:1.0;zoom:100%;-ms-transform: rotate(0deg)}
	100% {opacity:1.0;zoom:100%;-ms-transform: rotate(0deg)}
  }	
			
			
			
#hmenuContainer > button.ui-button.ui-widget.ui-state-default.ui-corner-all {margin:4em 1.5em 0em 2.0em;font-size:0.7em}
.bDiv .aUl{position:absolute;left:0.2em;width:auto;display:none;padding:0em;margin-left:0em;}
.aUl, .aUl2, .aLi, #twLi1 { position:relative;left:0em;list-style-type: none;text-align:left;padding:0em;margin-left:0em;cursor:pointer}
/*
.aLi:nth-child(1)  
	{
		border-top-style:solid;
		border-top-width:0;
		border-top-color:#00CCFF;
	}
	
#sdUl1 .aLi:nth-child(2)  
	{
		border-top-style:solid;
		border-top-width:0;
		border-top-color:#00CCFF;
		padding-right:1em;
	}

#sdUl1 .aLi:nth-child(odd)  
	{
		border-left-style:solid;
		border-left-width:1px;
		border-left-color:#00CCFF;
		padding-left:1em;
	}  */



#sdUl1 .aLi:nth-child(even)  
	{
		padding-right:1em;
	}

.aLi,#twLi1
	{
		border-style:solid;
		border-width:1px;
		border-color:#00CCFF;
		font-size:0.65em;
	}	
	



#sdUl1 {
	position:relative;
	width:28.5em;
	height:auto;
	padding:2em;
	
}


#catchMenu{
	position:relative;
	float:left;
	width:30%;
	height:95%;
}


#descrip{
	position:relative;
	float:left;
	width:60%;
	height:100%;
}




#sdUl1 .aLi{
	position:relative;
	width:13em;
	height:2.7em;
	padding:2px;
	font-size:1.0em;
}

#sdUl1 .aLi:hover, #twLi2:hover, #twLi3:hover, #twLi4:hover {background-color:orange;color:blue;}
.bCon#btn1 .aLi:hover, .bCon#btn2 .aLi:hover,.bCon#btn3 .aUl .aLi:hover,.bCon#btn5 .aUl .aLi:hover,.bCon#btn6 .aUl .aLi:hover {background-color:orange;color:blue;}


#sdUl1 .aLi
	position:relative;
	margin-left:0.25em 0.25em;
/*	left:-11em; */
	
}  
	
div#btn3.bCon:hover div#btn3.bCon .aUl {display:none;}



.aLi:nth-child(even), #twLi1 > .aUl2:nth-child(even) {color:white}
.aLi:nth-child(odd), #twLi1 > .aUl2:nth-child(odd)  {color:orange}


#catchMenu .aLi:nth-child(even), #catchMenu #twLi1 > .aUl2:nth-child(even) {color:black}
#catchMenu .aLi:nth-child(odd), #catchMenu #twLi1 > .aUl2:nth-child(odd)  {color:black}
#catchMenu #twUl1 #twLi1 span{color:black}
#catchMenu .aLi:nth-child(even):hover, #catchMenu #twLi1 > .aUl2:nth-child(even):hover {
		color:red;
		font-style: italic;
}

#catchMenu .aLi:nth-child(odd):hover, #catchMenu #twLi1 > .aUl2:nth-child(odd):hover  {
	color:red;
	font-style: italic;
	
}

#catchMenu #twUl1 #twLi1:hover span{
	color:red;
	font-style: italic;
	
}





.aUl, .aUl2 {display:none}
.aLi, .aUl {margin-top:0.2em;padding-top:0.0em}


.aUl:nth-child(1) {margin-top:0.5em}
.aUl .aLi .aUl2 {position:relative;margin-left:0.9em;font-size:0.85em;}

.bCon {
	z-index:210
}

#btn5>button + div.aUl>div.aLi:hover {display:block}

	
span.ui-button-icon-primary.ui-icon.ui-icon-home {
			        position:absolute;
					left:0.5em;
					-webkit-transform: scale(1.5);
					-moz-transform: scale(1.5);
					transform: scale(1.5);
				}		

.bCon > button > span.ui-button-icon-primary.ui-icon.ui-icon-unlocked,.bCon > button > span.ui-button-icon-primary.ui-icon.ui-icon-locked
				{
			        position:absolute;
					-webkit-transform: scale(1.5);
					-moz-transform: scale(1.5);
					transform: scale(1.5);
				}		
				
				
   #pGraphic {
					position:relative;
					height:27em;
					width:100%;
					background-color: #F0F0F0;
			}
			#positDiv{
					position:relative;
					height:100%;
					width:100%;
			}
			#positDiv img{
					position:relative;
					width:90%;
					margin-left:5%;
					float:left;
			}
				
			#positDiv h2 {
					position:relative;
					font-size:3.5em;
					width:90%;
					float:left;
					margin-left:6%;
					text-align:center;
					margin-bottom:0.5em;
					}
					
			.bCon{
			       position:relative;
				   display:inline;
				   float:left;
				   width:7%;
				   height:auto;
				   margin:0 7% 0em 0em;
				   font-size:0.75em;
				   }
				   
	       
		
			#hmenuContainer .ui-widget {width:10em}
			
			.descHdr {color:#780000;font-style:italic;z-index:201}
			.aUl, .aUl2, .aLi, #twLi1 {
						position:relative;
						float:left;
						width:12vw;
                        font-size:1.0em;
						}
						
			
		
			
			#lvImgDiv {
				
				width:35vw;
			}
		
			
			#imageHolder > h1
			{
			text-align:center;
			font-size:1.25em;
			}
		
			#showPDFDiv
			{
				position:relative;
				height:90em;
				
			}
			
			#twLi1{
				position:relative;
				width:auto;
				padding-right:1.7em;
				z-index:100;
			}
			
			#showPDFDiv > object
			{
				position:relative;
				height:100%;
				width:100%;
			}
				
				
		   #triggerDiv
		   	{
		   		position:relative;
		   		height:100%;
		   		padding: 0em 0em 0em 4%;
		   		width:100%;
		   		margin: 0em 1em;
		   	}
		   	
		   	#textDv{
		   		position:relative;
		   		font-size:0.85em;
		   		height:100%;
		   		width:60%;
		   	}
		   	
		   div#bDiv{
		   	position:relative;
		   	float:left;
		   	width: 98%;
		   	height:30%;
		   	
		   }
		   
		   div#bText{
		   	position:relative;
		   	float:left;
		   	width: 98%;
		   	height:65%;
		   	margin-top:2em;
		   	
		   }
		   
		   div#textDv{
		   	position:relative;
		   	float:left;
		   	width: 55%;
		   	height:98%;
		   	
		   }
		   
	  .lavApp, .angApp{
		   		position:relative;
		   		background-color:#D3D3D3;
		   		float:left;
		   		display:block;
		   	}
		   	
		   	.angApp{
		   		font-size:0.3em;
		   		padding-bottom:1em;
		   		height:2em;
		   		width:6em;
		   	   	margin-top:1em; 
		   	   	margin-right:0.5em;
		   		
		   	}
		   	
		  	.lavApp{
		   		position:relative;
		   	    width:4em;
		   	    height:2em;
		   	    font-size:0.5em;
		   	    padding-bottom:1em;
		   	   	margin-top:3.0em; 
		   	   	margin-right:0.5em;	
		   	}
		   	
		   	
		   	.lavApp:hover, .angApp:hover{background-color:#C0C0C0}
	